body {
  background-color: #2e2c2c;
  margin: 0;
  padding: 0;

  height: 200vh; /* testing */
  color: aliceblue;

  display: flex;
  flex-direction: column;

  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header,
.navbar,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  border-bottom: 2px solid blue;
  padding: 20px 0;
  gap: 5%;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.brandname {
  font-size: 60px;
}

.subscribe-btn {
  width: 15rem;
  font-size: 0.9em;

  border-radius: 0.3rem;
  padding: 0.5rem;

  background-color: rgb(61, 135, 148);
  border: 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
}

.navbar {
  height: 50px;
}

.content {
  display: flex;
  border: 1px solid;
}

.inner-content {
  display: flex;
  flex-wrap: wrap;

  max-width: 70rem;

  margin: 0 auto;
}

.article {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 30rem;
}

.suggest-article-container {
  width: 400px;
}

.suggest-article-list {
  border: 2px solid blue;
}

/* remove '.' in ol numbering ref: https://stackoverflow.com/questions/11946098/how-to-remove-dot-after-number-in-ordered-list-items-in-ol-li/11946109 */
ol.suggest-article-list {
  counter-reset: item;
  list-style-type: none;

  margin: 0;
}

li.suggest-article-list-item {
  display: flex;
  flex-direction: row-reverse;
}

li.suggest-article-list-item::before {
  content: counter(item) "  ";
  counter-increment: item;

  color: aqua;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  border: 2px solid red;
  width: 100%;
}

.pin-top-fixed {
  position: sticky;
  top: 0;
}

.pin-suggest-article {
  position: sticky;
  top: 50px;
}
